<div class="community-details-container" *ngIf="community">
  <h1>{{ community.name }}</h1>
  <p><strong>Description:</strong> {{ community.description || 'No description available' }}</p>
  <p><strong>Community ID:</strong> {{ community._id }}</p>
  
  <div class="community-stats">
    <div class="stat-card">
      <h3>Total Members</h3>
      <p>{{ community.members.length || 0 }}</p>
    </div>
    <div class="stat-card">
      <h3>Total Contributions</h3>
      <p>{{ community.totalContribution | currency }}</p>
    </div>
    <div class="stat-card">
      <h3>Next Payout</h3>
      <app-countdown-timer *ngIf="formattedNextPayout" [targetDate]="formattedNextPayout"></app-countdown-timer>
    </div>
    <div class="stat-card">
      <h3>Max Members</h3>
      <p>{{ community.settings.maxMembers }}</p>
    </div>
    <div class="stat-card">
      <h3>Contribution Frequency</h3>
      <p>{{ community.settings.contributionFrequency }}</p>
    </div>
    <div class="stat-card">
      <h3>Backup Fund</h3>
      <p>{{ community.backupFund | currency }}</p>
    </div>
  </div>

  <div class="community-members">
    <h2 (click)="toggleMembers()">
      Members <i class="fas" [ngClass]="{'fa-chevron-down': !membersVisible, 'fa-chevron-up': membersVisible}"></i>
    </h2>
    <div *ngIf="membersVisible" class="members-list">
      <ul>
        <li *ngFor="let member of community.members || []">
          <strong>{{ member.name}}</strong> <span>{{ member.email || 'N/A' }}</span> 
          <br />
          Contributions Paid: {{ member.contributionPaid ? 'Yes' : 'No' }}
        </li>
      </ul>
    </div>
  </div>

  <button *ngIf="!hasJoined" class="cta" (click)="joinCommunity()">Join Community</button>
  <button *ngIf="hasJoined" class="cta" (click)="goToContributeForm()">Contribute</button>
  <!-- Add this button inside the container where actions are displayed -->
<button
*ngIf="isAdmin && communityEligibleForPayouts"
class="cta"
(click)="handleDistributePayouts()"
>
Distribute Payouts
</button>

</div>

<app-contribute-form
  *ngIf="showContributeModal"
  [communityId]="communityId"
  [showModal]="showContributeModal"
  (close)="closeContributeModal()"
  (contributionSubmitted)="handleContribution($event)"
></app-contribute-form>

<!-- Loading Spinner or Message when community is not available yet -->
<div *ngIf="!community" class="loading-message">
  <p>Loading community details...</p>
</div>
